@import "variables";

@mixin hover-transition {
  transform: $hover-transition !important;
  -ms-transform: $hover-transition !important;
  -webkit-transform: $hover-transition !important;
}

/* Media queries */
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
@mixin desktop {
  @media (min-width: #{$breakpoint-medium}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-small}) and (max-width: #{$breakpoint-medium}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{($breakpoint-small - 1)}) {
    @content;
  }
}
