@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import "variables";
@import "mixins";
@import "../components/**/*.scss"; // find scss files in whole components directory tree

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: swap;
  position: relative;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Roboto Light", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto';
}

.visibleMobile {
  display: none;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.2%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.displayInline {
  display: inline-block;
}

.video-responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

// TO CHANGE
.diffNewLine {
  color: #22863a;
  background-color: #f0fff4;
}

// TO CHANGE
.diffRemoveLine {
  color: red;
  background-color: #ffcccc;
}


.githubSection {
  display: flex;
  align-items: center;
  color: #000;
  opacity: 0.7;

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

/* Header section starts here */
pre {
  border: 0 !important;
  background-color: rgb(245, 247, 249);
}

/* Image styling */

img {
  max-width: 100%;
}

/* end image */

.communitySection {
  font-size: 24px;
  font-weight: 700;
}

.authorSection {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.authorName {
  display: flex;
  align-items: center;
}

.authorImg img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
}

.authorDetails {
  padding-left: 10px;
}

.authorDesc {
  padding-top: 5px;
  font-size: 14px;
}

.authorName img {
  margin-left: 10px;
  display: inline-block;
  width: 20px;

  &:hover {
    opacity: 0.7;
  }
}

.heading1 {
  font-size: 26px;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 32px;
}

.heading2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 32px;
}

.heading3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 32px;
}

.heading4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 32px;
}

.heading5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 32px;
}

.heading6 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 32px;
}

.paragraph {
  margin: 16px 0;
  line-height: 1.625;
}

@media (max-width: $breakpoint-medium) {
  .hiddenTablet {
    display: none !important;
  }
}

@media (max-width: ($breakpoint-small - 1)) {
  .responsive {
    margin-top: 15px;
    position: relative;
    padding-bottom: 10px;
    border-top: 1px solid #fff;
    .visibleMobile {
      display: block !important;
    }

    ul {
      display: block;
      text-align: left;
    }
  }

  .hiddenMobile {
    display: none !important;
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mobileView {
    text-align: left !important;
    padding-left: 0 !important;
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}
